body,h1,h2,h3,p,ul,li,a,div,strong,img,ol,th,hr,td,table,tbody,form,label,input,footer{
	margin:0;
	padding: 0;
	font-family: "微软雅黑";
}
body{
	background-color: #ccc;
	min-width: 1300px;
}
p{
	text-indent: 2em;
	line-height: 25px;
}
nav{
	background: #505050 url(../images/tubiao.jpg) 50px center no-repeat;
	background-size: 200px 50px;
	height: 60px;
	width: 100%;
}
nav ul{
	line-height: 60px;
	padding: 0;
}
nav ul li{
	float: right;
	padding-right: 15px;
	margin-right: 10px;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}
.first{
	margin: 20px 20px 0 20px;
	padding: 20px;
	width: auto;
	height: auto;
	background-color: #fff;
	border-right: 3px solid #5e5e5e;
	border-bottom: 3px solid #5e5e5e;
	
}
.first h2{
	margin-top: 10px;
	margin-bottom: 12px;
	color: #ddd;
}
.first span{
	display: inline-block;
	color: #ddd;
	margin-bottom: 10px;
}
.first ul li{
	list-style: none;
	margin-left: 20px;
}
.first .beauty{
	border: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 140px;
	height: auto;
	text-align: center;
	margin-top: 15px;
	margin-left: 30px;
}
.first .beauty p{
	text-indent: 0;
	padding-bottom: 5px;
}
.first ol{
	margin-left: 30px;
	margin-bottom: 10px;
}
.first #zhushi{
	text-indent: 0;
}
.first table{
	width: 100%;
	border: 1px solid #ddd;
}
.first th{
	background-color: #606060;
	color: #fff;
	text-align: left;
	font-weight: normal;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ddd;
	text-indent: 1em;
}
.first td{
	font-weight: normal;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ddd;
	text-indent: 1em;
}
.first .foot{
	background-color: #ddd;
	font-weight: bold;
}
form{
	margin: 20px 20px 0 20px;
	padding: 20px;
	width: auto;
	height: auto;
	background-color: #fff;
	border-right: 3px solid #5e5e5e;
	border-bottom: 3px solid #5e5e5e;
}
form .top{
	height: 50px;
	line-height: 50px;
	border-left: 4px solid #ddd;
}
form .top h1{
	margin-left: 15px;
}
form table{
	padding-left: 300px;
	padding-top: 15px;
}
form .left{
	text-align: right;
}
form p{
	text-indent: 0;
	font-size: 14px;
	color:#ccc;
}
form table td{
	height: 30px;
}
form table .like{
	padding-right: 5px;
}
form .submit{
	margin: 0;
	width: 100%;
	height: 50px;
	background-color: blue;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
}
footer{
	margin-top: 20px;
	background-color: #000;
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 14px;
	border-top: 2px solid #5e5e5e;
}

